.container{
    display: grid;
    grid-auto-flow: column;
}


section{
    margin: 30px 30px 150px;
}

section figure img{
    margin-top: 20px;
    max-height: 50px ;
    width: 100%;
    border-radius: 0;
}

section p{
    margin-bottom: 20px;
}

section .posts{
    display: flex;
}


section .post{
    background-color: var(--second-color);
    margin: 0 30px;
    padding: 15px;
    width: 30%;
    min-height: 40vh;
    font-size: 20px;
}

section .post .content{
    margin-top:15px ;
}

section .one h2 a{
    color: var(--main-color);
    text-decoration: none;
}
