header .logo{
    font-size: 50px;
    padding: 0 50px;
}

nav{
    margin: 20px;
}

nav div{
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: var(--main-color);
}

nav .follow{
    background-color: var(--main-color);
    padding: 5px 10px;
    text-align: center;
}

nav .follow a{
    color: #fff;
}

nav .subscribe{
    border: var(--main-color) 1px solid;
    padding: 5px 10px;
    margin: 10px 0 10px 10px;
    text-align: center;
}
